wandb/
__pycache__/
processing_QoL/__pycache__/
metrics/__pycache__/
utils/__pycache__/
checkpoints_abdomen/
checkpoints_thorax/
outputjobs_abdomen/
outputjobs_thorax/
results_abdomen/
results_thorax/
processing_QoL/B01_ScanPairs.csv
processing_QoL/outputjobs/
processing_QoL/unprocessed_abdomen_data.csv
processing_QoL/unprocessed_thorax_data.csv